
.nav-menu{
  background-color: #411777;
  height: 75px;
  display: flex;
  flex-direction: row;  
  justify-content: flex-end;
}
.containerCenterNav{
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.containerLogo{
  width: 50%;
  display: flex;
  flex-direction: row; 
  text-decoration: none; 
}
.containerLogo > a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  width: 34%;  
}
.containerLogo > a > img{
  margin: auto 0 auto 0;
  width: 100%;
}
.containerLogo > a >strong {
  margin: auto 0 auto 5px;
}
.nav-menu > .containerCenterNav > nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.nav-menu > .containerCenterNav > nav > ul{
  width: 60%;
  margin:auto 0 auto 0;
  display: flex;
  justify-content: flex-end;
}
.nav-menu > .containerCenterNav > nav > ul > li,
.nav-menu > .containerCenterNav > nav > ul > li > a{
  list-style: none;
  color:white;
  font-weight: bold;
  text-decoration: none;  
}
.footer{
  color:white;
  font-weight: bold;
  background-color: #411777;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
}
.footer > .containerLeftFooter{  
  height: 80px;
  width: 50%;
  display: flex;
  flex-direction: row;
}
.footer > .containerLeftFooter > .copy{  
  margin: auto auto auto 0;
}
.footer > .containerRightFooter{  
  display: flex;
  width: 50%;
  justify-content: flex-end;
}
.footer > .containerRightFooter >
.socialMedia{  
  display: flex;
  flex-direction: row; 
  margin: auto 0 auto 0; 
  justify-content: flex-end;
}
.footer > .containerRightFooter >
.socialMedia > .socialIcon{
  margin: 0 5px 0 5px;
}